@font-face {
  font-family: 'Bebas_Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent_Marker';
  src: url('./fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source_Code_Pro';
  src: url('./fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
