html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: row;

  &__open-sidebar-btn {
    display: block;
    width: 42px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.5s;

    img {
      width: 100%;
    }

    @media screen and (min-width: 599px) {
      display: none;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-alt);
    width: 100%;
    transition: 0.5s;

    @media screen and (min-width: 599px) {
      margin-left: var(--sidebar-closed-width);
    }

    &--sidebar-open {
      width: calc(100% - var(--sidebar-width));
      margin-left: var(--sidebar-width);

      @media screen and (max-width: 599px) {
        width: 100%;
        margin-left: 0;
      }
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 9998;
      background-color: rgba(0, 0, 0, 0.85);

      &--hidden {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    &-image {
      position: fixed;
      width: 40%;
      object-fit: contain;
      margin: 5vh 5vw;
      z-index: 9999;
      cursor: zoom-out;
      border: 10px solid var(--background);

      &--hidden {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      color: var(--primary);
    }

    p {
      color: var(--primary-alt);
    }
  }
}
