:root {
  --sidebar-width: 300px;
  --sidebar-closed-width: 60px;

  // Colors
  --red: #d94f04;
  --light-orange: #f4b76a;
  --primary: #013440;
  --primary-alt: #007172;
  --secondary: #F29325;
  --secondary-alt: #BEBFBD;
  --background: #F4E2DE;
  --background-alt: #fff;

  // --primary: #1C2621;
  // --primary-alt: #6E7346;
  // --secondary: #D97652;
  // --secondary-alt: #D94F04;
  // --background: #F2F0D5;
  // --background-alt: #BFBDA3;

  // --primary: #011526;
  // --primary-alt: #023859;
  // --secondary: #BF5B21;
  // --secondary-alt: #F2AF5C;
  // --background: #F2D3AC;
  // --background-alt: #BFBDA3;
}
